//---------------------------------------------------------------------------
//
// Name:        Project_36App.rc
// Author:      Krzysztof
// Created:     21.01.2017 19:41:21
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
